<nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-0 text-white nav-text shadowed">
  <div class="navbar-brand p-2">
    <a class="navbar-brand"routerLink="/home">
      <img
        src="assets/img/dog.svg"
        alt="Puppies for life logo"
        class="logo-img"
      />
      Puppies for Life</a
    >
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>
  <div class="collapse navbar-collapse d-flex justify-content-end align-items-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink= "/home"
          >Inicio <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink= "/adopcion">Adopción</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faYoutube"></fa-icon> </a>
      </li>
      <li class="nav-item mr-4 ml-4">
        <a class="nav-link font-weight-bold" href="#">Dona</a>
      </li>

    </ul>
    <button
      class="btn btn-outline-secondary bg-white p-3 rounded-0 border-0 collapse-menu"
      type="button"
    >
      <span class=""><fa-icon [icon]="faBars"></fa-icon></span>
    </button>
  </div>
</nav>
