.logo-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.colapse-menu{
    
}
.collapse-menu:hover{
    color: #000;
}

.nav-text a{
    color: #fff;

}

.nav-text a:hover{
    color: teal;
}