<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 main-section">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formDog" (ngSubmit)='submit()'>

            <div class="title">
              <h3>Registrar perro</h3>
            </div>
            <div class="form-row">
             
                <div class="form-group col-sm-6">
                  <label>Nombre</label>
                  <input type="text" formControlName="name" class="form-control">
                </div>

                <div class="form-group col-sm-6">
                  <label>Edad (años/meses)</label>
                  <input type="number" formControlName="age" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                  <label for="Select1">Sexo</label>
                  <select formControlName="sex" class="form-control">
                    <option>Macho</option>
                    <option>Hembra</option>
                  </select>
                </div>

                <div class="form-group col-sm-6">
                    <label>Agregar una imagen</label>
                    <input type="text" formControlName="profileImg" class="form-control">
                  </div>

                <div class="form-group col-sm-12">
                  <label for="lTextarea1">Descripción</label>
                  <textarea formControlName="description" class="form-control" rows="3"></textarea>
                </div>

               

              </div>

            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
