
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formPerson" (ngSubmit)='submit()'>
              <h3>Registrar perro</h3>
  
              <div class="row">
                <div class="col-md-6 p-1">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="firstName" class="form-control">
                  </div>

                  <div class="form-group">
                    <label>Edad</label>
                    <input type="text" formControlName="edad" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Sexo</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Selecciona</option>
                      <option>Macho</option>
                      <option>Hembra</option>
                      </select>
                  </div>
                
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <div class="form-group">
                        <label>Agrega una imagen</label>
                        <input type="text" formControlName="profileImg" class="form-control">
                      </div>
                
                </div>
  
                </div>
  
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary">Submit</button>
                  </div>
                </div>
              
  
            </form>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>