<div class="modal-dialog text-center">
  <ng-container *ngIf="msjLogin">
    <div class="alert alert-danger" role="alert">
      <img src="assets/img/kitty.svg" alt="Mad Kitty" class="alert-icon" />
      {{ msjLogin }}
    </div>
  </ng-container>
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img
          src="http://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/256/22214-dog-face-icon.png"
        />
      </div>
      <form
        class="col-12"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin(loginForm)"
      >
        <div class="form-group">
          <input [(ngModel)]="loginUserData.email"
            type="text"
            class="form-control"
            placeholder="Enter Username"
            formControlName="email"
          />
        </div>

        <div class="form-group">
          <input [(ngModel)]="loginUserData.password"
            type="password"
            class="form-control"
            placeholder="Enter Password"
            formControlName="password"
          />
        </div>

        <button (click)="loginUser" class="btn">
          <span><fa-icon [icon]="faSignInAlt"></fa-icon></span>Login
        </button>
      </form>
      <div class="col-12 forgot">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
