<!-- <div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card mt-5">
            <div class="card-body">
                <h2>Login</h2>

                <form [formGroup]="loginForm"(ngSubmit)="onLogin"></form>
                <input type="text" placeholder="e-mail" formControlName="email" class="w-100">
                <input type="password" placeholder="password" formControlName="password" class="w-100">
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">


      <div class="col-12 user-img">
        <img src="http://icons.iconarchive.com/icons/google/noto-emoji-animals-nature/256/22214-dog-face-icon.png">

      </div>
      <form class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Username" formControlName="email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
        </div>
        
        <button class="btn" > <span><fa-icon [icon]="faSignInAlt"></fa-icon></span>Login</button>
      </form>
<div class="col-12 forgot">
    <a href="#">Forgot Password?</a>
</div>

    </div>

  </div>
</div>
