<main class="col-md-6 p-5">
  <h1>Salva a un amigo</h1>

  <article class="mt-4">
    <p>Existen demasiados perros y gatos callejeros y no queremos más. Los
      callejeros sufren hambre, frio, enfermedades y son lastimados. Hemos
      decidido rescatarlos, sanarlos y ponerlos en adopcion, pero no podemos hacerlo solos.
    </p>
  </article>

  <div class="d-flex justify-content-center col-md-10 mt-5" >
    <button type="button" class="btn btn-outline-secondary rounded-pill mr-2 ">Como puedo ayudar?</button>
    <button type="button" class="btn btn-outline-secondary rounded-pill">Quiero adoptar</button>
  </div>
</main>
