<div class="wrapper">
  <main class="container-fluid ">
    <div class="row align-items-center">
      <div class="col-md-7 p-5">
        <h1>Salva a un amigo</h1>

        <article class="mt-4 ">
          <p>
            Existen demasiados perros y gatos callejeros y no queremos más. Los
            callejeros sufren hambre, frio, enfermedades y son lastimados. Hemos
            decidido rescatarlos, sanarlos y ponerlos en adopcion, pero no
            podemos hacerlo solos.
          </p>
        </article>

        <div class="row ">
          <div class="col-md-6 col-sm-7 mb-4">
            <button
              type="button"
              class="btn btn-outline-secondary rounded-pill btn-block "
            >
              Como puedo ayudar?
            </button>
          </div>
          <div class="col-md-6 col-sm-7">
            <button
              type="button"
              class="btn btn-outline-secondary rounded-pill btn-block"
            >
              Quiero adoptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50 ">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
